*
  margin 0
  padding 0

body
  background #95E6E0
.wrapper
  width 900px
  margin 0 auto
  height 1px
.table
  font-size 13px
  float left
  list-style none
  height 500px
  width 400px
  li
    width 180px
    height 73px
    background #709D28
    border-radius 5px
    padding 5px
    margin 5px
    float left
    position relative
    color #F4FFFF
    box-shadow 0 0 6px gray
    .name
      font-size 20px
    .symbol
      margin-bottom 5px
    .marker
      position absolute
      width 15px
      height 15px
      text-align center
      top 0
      right 0
      background #481633
      border-radius 50%
    .action
      position absolute
      bottom 0
      right 0
      background #F4FFFF
      color #010101
      padding 3px
      border-bottom-right-radius 5px
      border-top-left-radius 5px

.community, .playerCards, .actions
  float left
  width 290px
  background #709D28
  border-radius 5px
  padding 5px
  margin 5px
  box-shadow 0 0 6px gray
  color #F4FFFF


.community

  .moneyPot
    width 100%
    padding-bottom 10px

  .communityCards
    ul
      li
        list-style-type  none


.playerCards
  position absolute
  top 0
  right 0
  margin 0
  width 150px
  height 107px
  .cardOne
    margin-left 26px
  .cardTwo
    margin-left 13px

.actions
  position absolute
  top 118px
  right 0
  margin 0
  width 150px
  button
    display block
    padding 5px
    width 150px
    height 30px
    border-radius 0
  input
    width 96px
    height 26px
    border-radius 0
    font-size 15px
  .underline
    text-decoration underline

  .bet, .raise
    overflow auto
    input, button
      float left
    button
      width 50px


.hide
  display none !important;

.title
  transform translate(-5px,-5px)
  padding 5px
  width 150px
  display block
  color #010101
  background #F4FFFF
  border-bottom-right-radius 5px
  border-top-left-radius 5px
